# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log


.env

data/exchange/raw_research/*.json
data/exchange/validated_research/*.json

!data/exchange/raw_research/.gitkeep
!data/exchange/validated_research/.gitkeep

# Python
__pycache__/
*.py[cod]

# FreeCAD backup files
*.FCBak

# Windows
Thumbs.db